layout: index
subtitle: veyesys
description: 
---
.intro-wrap
  .outer
    ul
      li.intro-feature-wrap
        .intro-feature#intro-feature-fast
          h3.intro-feature-title ONVIF S/G & GB28181 & OpenCVR API
          p.intro-feature-desc ONVIF profile S support, ONVIF ProfileS simulator, GB28181 and OpenCVR API.
      li.intro-feature-wrap
        .intro-feature#intro-feature-markdown
          h3.intro-feature-title Video Storage on HDFS
          p.intro-feature-desc Anti file system fragment recording system.You can record video to HDFS.
      li.intro-feature-wrap
        .intro-feature#intro-feature-deploy
          h3.intro-feature-title Corss platform & Intel Media SDK support.
          p.intro-feature-desc You can install to Windows 7/8(With Intel Media SDK), Linux Ubuntu & Centos.
      li.intro-feature-wrap
        .intro-feature#intro-feature-plugin
          h3.intro-feature-title Data Mining Plugins
          p.intro-feature-desc OpenCVR has a powerful plugin system, You can install more plugins for data Minging.
  .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/") Get Started