layout: index
subtitle: vdceye
description: Open Cloud Surveillance System.
---
.intro-wrap
  .outer
    ul
      li.intro-feature-wrap
        .intro-feature#intro-feature-fast
          h3.intro-feature-title ONVIF S support
          p.intro-feature-desc ONVIF profile S support, ONVIF ProfileS simulator, Alarm Support, PTZ Support.
      li.intro-feature-wrap
        .intro-feature#intro-feature-markdown
          h3.intro-feature-title Video Storage on HDFS
          p.intro-feature-desc Anti file system fragment recording system.You can record video to HDFS.
      li.intro-feature-wrap
        .intro-feature#intro-feature-deploy
          h3.intro-feature-title Corss platform support
          p.intro-feature-desc You can install to Windows 7/8, Linux Ubuntu & Centos.
      li.intro-feature-wrap
        .intro-feature#intro-feature-plugin
          h3.intro-feature-title Data Mining Plugins
          p.intro-feature-desc vdceye has a powerful plugin system, You can install more plugins for data Minging.
  .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/") Get Started