<!-- Tweet button -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%- url %>" data-text="<%= post.title %>" data-hashtags="hexo,nodejs">Tweet</a>
<!-- Facebook like button -->

<!-- Google +1 button -->
<g:plusone size="medium" href="<%- url %>"></g:plusone>